@header-height: 150px;
body{
  background-color: black;
}

#header{
  position: fixed;
  top: 0;
  height: @header-height;
  left: 0;
  right: 0;
  overflow: scroll;

  h1{
    font-size: 30px;
    padding-left: 10px;
    a{
      color: white;
      text-decoration: none;
      &:active{
        color: white;
      }
    }
  }
  .parameter{
    float: left;
    display: inline-block;
    margin: 10px;
    padding: 6px 10px;
    background-color: lighten(black, 20%);
    color: white;
    font-size: 25px;
  }
}

#code-container{
  position: fixed;
  top: @header-height;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pre{
    position: relative;
    overflow: hidden;
  }
}
