@header-height: 150px;
@z: 0;
body{
  background-color: black;
}

.player{
  > div:first-child{
    position: fixed;
    top: 0;
    height: @header-height;
    left: 0;
    right: 0;
    z-index: @z + 10;
    a{
      text-decoration: none;
      color: white;
      &:active{
        color: white;
      }
    }
    h1{
      display: inline-block;
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  > div:nth-child(2){
    position: fixed;
    top: @header-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @z;
  }
}

